.nav {
    padding: 2em;
    box-shadow: -1px 8px 5px 0px rgba(191, 154, 144, 0.41);
    position: fixed;
    width: 100vw;
    z-index: 500;
    background-color: #d9afa4;
  }

.section{
    height: 100vh;
    background-image:url("./img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    height:100%;
}

.myCols{
    height:100%;
}

.title{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 2.5em !important;
    
}

.controlIn{
    width: 100%;
  }

.myP{
    font-size: 2em;
}

.inT{
    border: 2px solid #92ffec;
}

.is-myCol{
    background-color:#92ffec;
    border-color: #92ffec;
    font-weight: 600;
}

.contImg{
    width: 50%;
    padding:5em;
    margin-left:15em;
    position: relative;
}

.starImg{
    width:180px;
    position: absolute;
    z-index:20;
}

.diff {
    display: flex;
    justify-content: center;
    place-items: center;
  }

.A{
    display: flex;
    align-items: center;
}

.B{
    display: flex;
    place-items: center;
    justify-content: center;
  }

  .textGroup{
    display: flex;
  }

  .foo {
    padding: 2em;
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: #ececec;
  }


  @media (max-width: 768px){

    .title{
        text-align: center;
        font-size: 2em!important;
    }

    p{
        text-align: center;
        font-size: 1.5em!important;
    }

    .textGroup{
        display: block;
      }

    .nav{
        position: static;
        padding:0.5em;
    }

    .contImg{
        padding:0;
    }

    .B .contImg .imgBig{
        display: none;
    }

    .diff figure{
        margin:0;
    }

    .foo .fooP{
        font-size: 0.5em!important;
    }


  }